---
layout: default
---

<style>
  .post-list {
    list-style: none;
    padding-left: 0;
  }
  .post-list-item {
    margin-bottom: 2.5em;
    border-bottom: 1px solid #eee;
    padding-bottom: 1.5em;
  }
  .post-list-item:last-child {
    border-bottom: none;
  }
  .post-title a {
    text-decoration: none;
    color: #333;
    font-size: 1.6em;
  }
  .post-title a:hover {
    color: #007acc;
  }
  .post-meta {
    font-size: 0.9em;
    color: #888;
    margin-bottom: 0.5em;
  }
  .post-excerpt {
    line-height: 1.7;
  }
  .read-more {
    font-weight: bold;
  }
</style>

<h2>Latest Posts</h2>

<ul class="post-list">
  {% for post in site.posts limit:3 %}
    <li class="post-list-item">
      <h3 class="post-title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
      <p class="post-meta">{{ post.date | date: site.date_format }}</p>
      <div class="post-excerpt">
        {{ post.excerpt }}
      </div>
      <a href="{{ post.url | prepend: site.baseurl }}" class="read-more">Read More →</a>
    </li>
  {% endfor %}
</ul>

<p><a href="/blog">View all posts →</a></p>

<hr>

{% include home.html %}

